/*General*/
.btn_atras{
    background-color: darkred;
    color: white;
}
/*Pagina Login*/

/*Pagina Pregunta*/
.btn_registro{
    background-color: #0d6efd;
    color: white;
}
/*Pagina Registro JEFE*/

/*Pagina Registro Invidente*/